/* framework riutilizzabile */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.col-11{
    width: 100%;
}

.col-10{
    width: 100%;
}

.col-9{
    width: 100%;
}

.col-8{
    width: 100%;
}

.col-7{
    width: 100%;
}

.col-6{
    width: 100%;
}

.col-5{
    width: 100%;
}

.col-4{
    width: 100%;
}

.col-3{
    width: 100%;
}

.col-2{
    width: 100%;
}

.col-1{
    width: 100%;
}

.col-12{
    width: 100%;
}
